@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  zoom: 1; 
  /* transform: scale(1);  */
  background: black;
  /* overflow: hidden; */
  height: 100vh;
    min-height: 100vh;
  overflow-x: hidden;
}

.hero-background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10vw;
}

.blob {
  position: relative;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  filter: blur(70px);
  opacity: 0.7;
  mix-blend-mode: screen;
  animation: breathe 6s ease-in-out infinite alternate;
}

.blob-left,
.blob-right {
  background: radial-gradient(circle, #a31a45, #e80dd9fa);
  animation-delay: 0s;
    margin-right: -180px;
    margin-left: -180px;
}

.blob-center {
  background: radial-gradient(circle, #3300ff, #9900ff);
  animation-delay: 1s;
}

@keyframes breathe {
  0% {
    transform: scale(1) translate(0px, 0px);
  }
  100% {
    transform: scale(1.3) translate(20px, 30px);
  }
}
/* Scrollbar Track */
::-webkit-scrollbar {
  width: 10px;
}

/* Scrollbar Thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: rgba(156, 155, 155, 0.242);
  border-radius: 3px;
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: background 0.3s ease;
}

/* Hover effect */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}

/* Scrollbar Track Background */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
}
.Toastify__toast-container--bottom-right {
  bottom: 1.2rem !important;
  right: 1.2rem !important;
}

.Toastify__toast {
  border-radius: 10px !important;
  background: var(--card-bg) !important;
  color: var(--text-main) !important;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.2) !important;
}
